.sub-breed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div {
        width: 500px;
        height: 500px;
        object-fit: cover;
    }
}