.main {
   
    h2 {
        text-align: center;
        margin-bottom:30px;
    }
    ul {
        border: 3px solid rgb(188, 190, 198);
        border-radius: 15px;
        padding: 20px;
        li {
            cursor: pointer;
            margin-top: 10px;
            padding: 10px;
            border: 3px solid transparent;
            border-radius: 15px;
            a {
                color: gray;
            }
        }
        li:hover {
            border: 3px solid rgb(188, 190, 198);
            border-radius: 15px;
        }
    }
    
}