<div class="container">
  <div class="main">
    <h2>Dog Breeds</h2>
    
    @if(breeds.length > 0) {

      <div class="search">
        <input type="text" placeholder="Search" [(ngModel)]="searchItem" (input)="onSearch()">
        <span>🔎</span>
      </div>
      
      <div class="breeds-container">
        <p-scroller 
          [items]="filteredBreeds" 
          [itemSize]="50" 
          [showLoader]="true" 
          [delay]="250" 
          [loading]="lazyLoading" 
          [lazy]="true" 
          (onLazyLoad)="onLazyLoad($event)"
          [style]="{'height': '400px'}"
          >
            <ng-template pTemplate="item" let-breed let-options="options">
              <div 
                class="breeds" 
                [ngClass]="{ 'surface-ground': options.odd }" 
              >
                  <a [routerLink]="['/breed', breed]">{{breed | titlecase}}</a>
              </div>
            </ng-template>
        </p-scroller>
      </div>
    }
  </div>
</div>