.breed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

     div {
        width: 500px;
        height: 500px;
        object-fit: cover;
     }
}

.sub-breeds {
    margin-top: 100px;
    h2 {
        text-align: center;
    }
    ul {
       border: 1px solid rgb(188, 190, 198);
       border-radius: 8px;
       padding: 10px;

        li {
            cursor: pointer;
            margin-top: 10px;
            padding: 10px;
            border: 1px solid transparent;
            border-radius: 15px;
            a {
                color: gray;
                display: block;
            }
        }
        li:hover {
            border: 1px solid rgb(188, 190, 198);
            border-radius: 15px;
        }
    }
}
