<div class="main">

<a class="back-link" href="/">←</a>

    <div class="breed">
        @if(breedName) {
            <h2>{{ breedName | titlecase }}</h2>
            
            @if(breedImage.length > 0) {
                <img [src]="breedImage" alt="{{ breedName }}">
            }
        }
    </div>   

    <div class="sub-breeds">
        <h2>Sub Breeds</h2>
        @if(subBreeds.length > 0) {
            <ul>
                @for(subBreed of subBreeds; track $index) {
                    <li>
                        <a [routerLink]="['/breed', breedName, subBreed]">{{ subBreed | titlecase }}</a>
                    </li>
                }
            </ul>
        }
        @else {
            <p style="color:red; text-align: center;">There are no sub breeds for this breed.</p>
        }
    </div>
    
</div>
